/*===== Reset CSS =====*/
@import url("global.css");

/*===== Corpo =====*/
main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/*===== Formulário =====*/
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
}

.form-container > p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 22px;
    color: var(--black-escuro);
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
}

section {
    width: 49.2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

label {
    font-style: 14px;
    font-weight: 500;
    color: var(--black-escuro);
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/*===== Título =====*/
h1 {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    color: var(--black-escuro);
}

/*===== Checkbox =====*/
.checkbox {
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.checkbox > label {
    font-style: 9px;
}

/*===== Imagem =====*/
img {
    width: 50.8%;
}

/*===== Botão =====*/
button {
    background-color: var(--green-day);
    color: white;
    height: 35.4px;
    border-radius: 10px;
    font-weight: 700;
    font-size: normal;
}

/*===== Inputs =====*/
input[type="password"], input[type="email"]{
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 8.5px 10px;
}

input::placeholder{
    font-size: 10px;
    font-weight: 500;
    color: var(--grey);
}

/*===== Esqueceu a senha =====*/
a {
    font-size: 10px;
    font-weight: 500;
    color: var(--blue-ray);
}

/*===== Divisor (Or) =====*/
.divider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider > p {
    gap: 4.5px;
    font-size: 9px;
    font-weight: 500;
    color: var(--black-escuro);
}

.line{
    width: 100%;
    height: 2px;
    background-color: var(--border-gay);
}