@import url("global.css");

/*===== Corpo =====*/
main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/*===== Título =====*/
h1 {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    color: var(--black-escuro);
}

.form-container > p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 22px;
    color: var(--black-escuro);
}

section {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

/*===== Imagem =====*/
.hero-image {
    width: 50%;
    height: 100vh;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*===== Formulário =====*/
.form-container {
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    width: 100%;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/*===== Inputs =====*/
label {
    font-size: 14px;
    font-weight: 500;
    color: var(--black-escuro);
}

input[type="password"], input[type="email"] {
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 12px 10px;
    width: 100%;
    box-sizing: border-box; 
}

input::placeholder {
    font-size: 12px;
    font-weight: 500;
    color: var(--grey);
}

/*===== Esqueceu a senha =====*/
.title-wrapper {
    display: flex;
    justify-content: space-between;
}

a {
    font-size: 12px;
    font-weight: 500;
    color: var(--blue-ray);
    text-decoration: none;
}


.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.checkbox > label {
    font-size: 12px;
    color: var(--black-escuro);
    margin-left: 8px;
    cursor: pointer;
}


button[type="submit"] {
    background-color: var(--green-day);
    color: white;
    height: 45px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}

/*===== Divisor (Or) =====*/
.divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.divider > p {
    padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
    color: var(--black-escuro);
}

.line {
    flex: 1;
    height: 1px;
    background-color: var(--border-gay);
}

/*===== Botões Sociais =====*/
.social-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.btn-social {
    flex: 1; 
    background-color: transparent;
    border: 1px solid var(--border-gay);
    color: var(--black-escuro);
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    }